Source: vdr-chksums
Section: perl
Priority: optional
Maintainer: Terry Embry <mrtembry@gmail.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.8
# Homepage: <none>
Vcs-Git: https://github.com/te987/vdr-chksums.git
Vcs-Browser: https://github.com/te987/vdr-chksums.git

Package: vdr-chksums
Architecture: all
Depends: ${misc:Depends},
  perl (>=5.24),
  findutils (>=4.6),
  coreutils (>=8.26),
  gzip (>=1.6),
  xz-utils (>=5.2),
  libpod-markdown-perl (>=3.0)
Description: verify debian repository checksums
 Provies size, md5, and sha256 checksums of repoistory *.deb files.
 Can use Packages, Packages.gz, Packages.xz lookups.
 Can save prevous good checksums as a database for next run to save time
 Useful to indepentently verify checksums after apt-mirror run
