Package: vdr-chksums
Version: 0.9.07
Architecture: all
Maintainer: Terry Embry <mrtembry@gmail.com>
Installed-Size: 60
Depends: perl (>= 5.24), findutils (>= 4.6), coreutils (>= 8.26), gzip (>= 1.6), xz-utils (>= 5.2), libpod-markdown-perl (>= 3.0)
Section: perl
Priority: optional
Description: verify debian repository checksums
 Provies size, md5, and sha256 checksums of repoistory *.deb files.
 Can use Packages, Packages.gz, Packages.xz lookups.
 Can save prevous good checksums as a database for next run to save time
 Useful to indepentently verify checksums after apt-mirror run
